 <section class="border-white/20  border-y">
        <div class="text-white mx-auto">
          <div class="mx-auto overflow-hidden overflow-x-hidden py-2 relative">
            <div class="w-full justify-between grid">
              <div
                class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-r">
              </div>
              <div
                class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
              </div>
            </div>
            <div
              class="flex items-center animate-marquee font-black font-display gap-4 relative tracking-widest uppercase whitespace-nowrap">
                Web Design <span class="hidden lg:inline">✺</span>spot open <span
                class="hidden lg:inline">✺</span
              > Digital Marketing <span class="hidden lg:inline">✺</span> spot open <span
                class="hidden lg:inline">✺</span
              > Ads Shoot <span class="hidden lg:inline">✺</span> spot open <span
                class="hidden lg:inline">✺</span
              > Marketing <span class="hidden lg:inline">✺</span>spot open <span
                class="hidden lg:inline">✺</span
              > App Design <span class="hidden lg:inline">✺</span> spot open
            </div>
          </div>
        </div>
      </section>