<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Redefining your vision through exceptional one-page website design and development, leaving a lasting impression.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Jackie Crafts' professionalism and expertise set them apart in the industry. From the initial consultation to the final launch, their commitment to quality was evident. The attention to detail and the ability to adapt to our unique needs showcased their true craftsmanship. We are extremely satisfied with the results and highly recommend Jackie Crafts for any web design project.
      </p>
    </div>
  </div>
</section>
