<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p style="text-align: center;" class="text-white font-display uppercase lg:text-6xl text-xl">
        Redefining your vision through exceptional website design and development, 
        leaving a lasting impression.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p style="text-align: justify;" class="text-white font-display uppercase lg:text-3xl">
        We seamlessly blend creativity and technology to transform your vision into a captivating 
        online experience. From sleek design elements to seamless navigation, we ensure that every 
        aspect of your dynamic website reflects the essence of your brand and engages your 
        visitors effectively.

      </p>
    </div>
  </div>
</section>
