<div
  class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2">
  <div class="flex flex-col justify-between h-full">
    <p style="text-align: justify;" class="text-[#ed642c]">
      Jackie Crafts seamlessly merges design and coding, creating polished designs that
      strike a perfect balance between trends and originality. They approach of
      crafting designs directly in code yields exceptional results, surpassing
      expectations.
    
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Gosh</span>
      <span class="block text-eagle">CEO of GPlanner</span>
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p style="text-align: justify;" class="text-[#ed772f]">
      They have an exceptional eye for design, and collaborating with him has
      been an absolute delight. I am looking forward to partnering with thim on
      upcoming projects. I wholeheartedly endorse him to anyone in search of
      exceptional, top-notch work.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Nickson</span>
      <span class="block text-eagle">Founder of AVN Studios</span>
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p style="text-align: justify;" class="text-[#ef9335]">
      It has been an invaluable asset in the realm of design, and I struggled
      to keep pace with his work speed during our collaboration. His designs are
      sleek, and he consistently delivers substantial value; he continuously
      refines his designs and introduces enhancements.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Varshi Ambal</span>
      <span class="block text-eagle">Innovator at E-Branding</span>
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p style="text-align: justify;" class="text-eagle">
      They stands out as a distinctive blend of designer and developer who
      comprehends business requirements. He utilized his prior experience to
      swiftly create multiple landing pages for SylviStyle!.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Sylvia Charles</span>
      <span class="block text-eagle">Co-Founder of Ad-E.Com</span>
    </div>
  </div>
</div>
